.git
.gitignore
.env
.idea/
.vscode/
.venv/
venv/
tests/
*.pyc
*.pyo
**/__pycache__/
backups/**/*.dump
ml/**/*.pkl
ml/**/*.csv
ml/**/*.png
ml/**/*.log
ml/**/*.ipynb
!ml/**/*.pt
!ml/**/*.joblib
!ml/**/*.json