/* Global settings */
html,
body {
    height: 100%;
    overflow: hidden;
}
.app-content {
    background-color: var(--bs-light);
    margin-top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}
.app-main-row {
    height: 100%;
    min-height: 0;
}
.app-navbar {
    height: var(--navbar-height);
}
.app-main {
    background-color: white;
    height: calc(100vh - var(--navbar-height));
    min-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}