
/* horizontal padding for main content area and navbar */
.app-content,
.navbar-inner {
    padding-inline: 0;
}

@media (min-width: 768px) {
    .app-content,
    .navbar-inner {
        padding-inline: 5rem;
    }
}

@media (min-width: 1200px) {
    .app-content,
    .navbar-inner {
        padding-inline: 10rem;
    }
}