
/* horizontal padding for main content area */
.app-content {
    padding-left: 0;
    padding-right: 0;
    background-color: var(--bs-light);
}
@media (min-width: 768px) {
    .app-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width: 1200px) {
    .app-content {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* match navbar horizontal padding to content */
.navbar-inner {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
    .navbar-inner {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width: 1200px) {
    .navbar-inner {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
