/* remove number spinners */
/* Chrome, Safari, Edge, Opera */
input.compact-input[type="number"]::-webkit-outer-spin-button,
input.compact-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.compact-input {
    -moz-appearance: textfield;
    appearance: textfield;
}

.compact-input:disabled {
    background-color: lightgray !important;
}

.rc-slider-track,
.rc-slider-handle,
.rc-slider-handle:focus,
.rc-slider-handle:active,
.rc-slider-handle-dragging {
    border: 2px solid var(--bs-primary);
}
.rc-slider-track {
    background-color: var(--bs-primary);
}
.rc-slider-disabled .rc-slider-track,
.rc-slider-disabled .rc-slider-handle {
    border: 2px solid lightgray;
}
.rc-slider-track:disabled {
    background-color: lightgray;
}