/* remove number spinners */
/* Chrome, Safari, Edge, Opera */
input.compact-input[type="number"]::-webkit-outer-spin-button,
input.compact-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.compact-input {
    -moz-appearance: textfield;
    appearance: textfield;
}

.borderless-inputgroup .form-control,
.borderless-inputgroup .input-group-text,
.borderless-inputgroup .form-select,
.borderless-inputgroup .form-control:focus {
    border: none !important;
}