/* remove number spinners from specific input boxes to allow more compact layouts*/
input.compact-input[type="number"]::-webkit-outer-spin-button,
input.compact-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.compact-input {
    -moz-appearance: textfield;
    appearance: textfield;
}

.compact-input:disabled {
    background-color: lightgray !important;
}